
.activityAppLauncher_text {
	text-align: center;
	border: 0px;
	margin: 0px;
	padding: 4px 0px 4px 0px;
	font-size: 110%; 
}

.activityAppLauncher_element {
	padding: 10px;
	border-radius: 0.5em; 
}

.activityAppLauncher_element:selected {
	 background-color: rgba(192,192,192,0.25); 
} 

.activityAppLauncher_button {
	margin: 0;
	padding: 20px;
	box-shadow: none;
	border: none;
	border-radius: 0;
}

.activityAppLauncher_button:first-child {
	border-radius: 0.5em 0.5em 0 0;
}
.activityAppLauncher_button:last-child {
	border-radius: 0 0 0.5em 0.5em;
}

.activityAppLauncher_button:hover {
	background-color: rgba(127,127,127,0.5);
}

.activityAppLauncher_appsInnerContainer {
	margin: 0 1em;
}